<!DOCTYPE html>
<html>
  <head>
    <title>Nidheesh Khandelwal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="just-show">
      <div id="navbar">
        <a href="/">HOME</a>
        <a href="/project">PROJECT</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
      <div id="container">
        <h2>Hello i'm</h2>
        <h1>Nidheesh khandelwal</h1>
        <h2>WEB DEVELOPER</h2>
        <button id="explore-btn">Explore</button>
    </div>
    </div>
  </body>
</html>
