<!doctype html>
<html lang="en">
  <head>
    <title>Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/project.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div id="just-show">
      <div id="navbar">
        <a href="/">HOME</a>
        <a href="/project">PROJECT</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
      </div>
      <h1 class="pro-head">Projects</h1>
      <div id="con">
        <div class="cards">
          <img class="img-1" src="/images/project1.png" alt="...">
          <h1 class="caption">Online courses website</h1>
        </div>
        <div class="cards ha">
          <img class="img-1" src="/images/2020-09-27.png" alt="...">
          <h1 class="caption">Airbnb website</h1>
        </div>
        <div class="cards ba ">
          <img class="img-1" src="/images/2020-09-27 (1).png" alt="...">
          <h1 class="caption">Blackjack</h1>
        </div>
        <br>
        <div class="cards">
          <img class="img-1" src="/images/Screenshot (3).png" alt="...">
          <h1 class="caption">Canvas ball game</h1>
        </div>
        <div class="cards ha">
          <img class="img-1" src="/images/Screenshot (4).png" alt="...">
          <h1 class="caption">COD website</h1>
        </div>
        <div class="cards ba">
          <img class="img-1" src="/images/Screenshot (5).png" alt="...">
          <h1 class="caption">Carousel</h1>
        </div>
      </div>
    </div>
  </body>
</html>